<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>

{% stylesheets filter='cssrewrite' output='css/application.css' 'bundles/j2exchange/css/main.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
        <link href='http://fonts.googleapis.com/css?family=Cuprum' rel='stylesheet' type='text/css' />

        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    <!-- Top navigation bar -->
    <div id="topNav">
        <div class="fixed">
            <div class="wrapper">
                <div class="welcome"><a href="#" title=""><img src="{{ asset('/bundles/j2exchange/images/userPic.png') }}" alt="" /></a><span>Howdy, User!</span></div>
                <div class="userNav">
                    <ul>
                        <li><a href="/profile" title=""><img src="{{ asset('/bundles/j2exchange/images/icons/topnav/profile.png') }}" alt="" /><span>Profile</span></a></li>
                        <li><a href="#" title=""><img src="{{ asset('/bundles/j2exchange/images/icons/topnav/settings.png') }}" alt="" /><span>Settings</span></a></li>
                        <li><a href="/logout" title=""><img src="{{ asset('/bundles/j2exchange/images/icons/topnav/logout.png') }}" alt="" /><span>Logout</span></a></li>
                    </ul>
                </div>
                <div class="fix"></div>
            </div>
        </div>
    </div>

    <!-- Header -->
    <div id="header" class="wrapper">
        <div class="logo"><a href="/" title=""><img src="{{ asset('/bundles/j2exchange/images/exchangeLogo.png') }}" alt="" /></a></div>

        {#<div class="middleNav">#}
            {#<ul>#}
                {#<li class="iMes"><a href="#" title=""><span>Support tickets</span></a><span class="numberMiddle">9</span></li>#}
                {#<li class="iStat"><a href="#" title=""><span>Statistics</span></a></li>#}
                {#<li class="iUser"><a href="#" title=""><span>User list</span></a></li>#}
                {#<li class="iOrders"><a href="#" title=""><span>Billing panel</span></a></li>#}
            {#</ul>#}
        {#</div>#}
        {#<div class="fix"></div>#}

    </div>


    <!-- Content wrapper -->
    <div class="wrapper">

        <!-- Left navigation -->
        <div class="leftNav">
            {{ knp_menu_render('J2ExchangeBundle:LeftNavigation:mainMenu', {}, 'custom') }}
        </div>

        <!-- Content -->
        <div class="content">{% block content %}{% endblock %}</div>

    </div>
    <div id="footer">
        <div class="wrapper">
            <span>&copy; Copyright 2011. All rights reserved. It's Brain admin theme by <a href="#" title="">Eugene Kopyov</a></span>
        </div>
    </div>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
        {% javascripts '@J2ExchangeBundle/Resources/public/js/custom.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
    </body>
</html>
