<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>

{% stylesheets filter='cssrewrite' output='css/application.css' 'bundles/j2exchange/css/main.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
        <link href='http://fonts.googleapis.com/css?family=Cuprum' rel='stylesheet' type='text/css' />

        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body class="nobg loginPage">
        <div class="topNav">
            <div class="wrapper"><div class="userNav">
            <ul>
                <li><a href="#" title=""><img src="{{ asset('bundles/j2exchange/images/icons/topnav/mainWebsite.png') }}" alt=""><span>Main website</span></a></li>
                <li><a href="#" title=""><img src="{{ asset('bundles/j2exchange/images/icons/topnav/messages.png') }}" alt=""><span>Support</span></a></li>
            </ul>
        </div>
                <div class="clear"></div>
            </div>
        </div>
    <!-- Main content wrapper -->
    <div class="loginWrapper">
        <div class="widget">
            <div class="title"><img src="{{ asset('bundles/j2exchange/images/icons/dark/files.png')}}" alt="" class="titleIcon"><h6>Exchange Login</h6></div>
            {% block content %}{% endblock %}
        </div>
    </div>

    {% block javascripts %}{% endblock %}
    </body>
</html>
