{% extends '::base.html.twig' %}

{% block title %} Your Products {%endblock%}
{% block headline %}{{company.name}} Catalog{% endblock %}
{% block tagLine %}Products for company {{ company.name }}{%endblock%}

{% block middleNav %}
<div class="wrapper">
    <div class="controlB">
        <ul>
            <li><a href="{{ path( '_add_product') }}" title=""><img src="{{ asset('bundles/j2exchange/images/icons/control/32/plus.png') }}" alt=""><span>Add New Product</span></a></li>
            <li><a href="{{ path( '_products') }}" title=""><img src="{{ asset('bundles/j2exchange/images/icons/control/32/library.png') }}" alt=""><span>Back to Catalog</span></a></li>
        </ul>
        <div class="clear"></div>
    </div>
</div>
{% endblock%}

{% block content %}
<div class="oneOne">
    <div class="widgets">
        <form>
            <fieldset>
                <div class="widget">
                    <div class="title">
                        <img src="{{ asset('bundles/j2exchange/images/icons/dark/stats.png')}} " alt="" class="titleIcon">
                        <h6>Edit {{product.name}}</h6>
                    </div>
                    <div class="formRow">
                        <label for="maxRangeAmount">Name:</label>
                        <div class="formRight">
                            {{ form_widget(form.name) }}
                            <div class="fix"></div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="formRow">
                        <label for="maxRangeAmount">ID/SKU:</label>
                        <div class="formRight">
                            {{ form_widget(form.code) }}
                            <div class="fix"></div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="formRow">
                        <label>Price:</label>
                        <div class="formRight">
                            <div class="ui-spinner">
                                {{ form_widget(form.price, { 'attr': {'class': 'ui-spinner-box','autocomplete': 'off'}}) }}
                                <button class="ui-spinner-up" type="button"></button>
                                <button class="ui-spinner-down" type="button"></button>
                            </div>
                            <div class="fix"></div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="formRow">
                        <label>Description:</label>
                        <div class="formRight">
                            <!--<div class="cleditorMain" style="width: 100%; height: 100%; ">
                                <div class="cleditorToolbar" style="height: 27px; ">
                                    <div class="cleditorGroup">
                                        <div class="cleditorButton" title="Bold"></div>
                                        <div class="cleditorButton" title="Italic" style="background-position: -24px 50%; "></div>
                                        <div class="cleditorButton" title="Underline" style="background-position: -48px 50%; "></div>
                                        <div class="cleditorButton" title="Strikethrough" style="background-position: -72px 50%; "></div>
                                        <div class="cleditorButton" title="Subscript" style="background-position: -96px 50%; "></div>
                                        <div class="cleditorButton" title="Superscript" style="background-position: -120px 50%; "></div>
                                        <div class="cleditorDivider"></div>
                                    </div>
                                    <div class="cleditorGroup">
                                        <div class="cleditorButton" title="Font" style="background-position: -144px 50%; "></div>
                                        <div class="cleditorButton" title="Font Size" style="background-position: -168px 50%; "></div>
                                        <div class="cleditorButton" title="Style" style="background-position: -192px 50%; "></div>
                                        <div class="cleditorDivider"></div>
                                    </div>
                                    <div class="cleditorGroup">
                                        <div class="cleditorButton" title="Font Color" style="background-color: transparent; background-position: -216px 50%; "></div>
                                        <div class="cleditorButton" title="Text Highlight Color" style="background-color: transparent; background-position: -240px 50%; "></div>
                                        <div class="cleditorButton cleditorDisabled" title="Remove Formatting" style="background-color: transparent; background-position: -264px 50%; " disabled="disabled"></div>
                                        <div class="cleditorDivider"></div>
                                    </div>
                                    <div class="cleditorGroup">
                                        <div class="cleditorButton" title="Bullets" style="background-position: -288px 50%; "></div>
                                        <div class="cleditorButton" title="Numbering" style="background-position: -312px 50%; "></div>
                                        <div class="cleditorDivider"></div>
                                    </div>
                                    <div class="cleditorGroup">
                                        <div class="cleditorButton" title="Outdent" style="background-position: -336px 50%; "></div>
                                        <div class="cleditorButton" title="Indent" style="background-position: -360px 50%; "></div>
                                        <div class="cleditorDivider"></div>
                                    </div>
                                    <div class="cleditorGroup">
                                        <div class="cleditorButton" title="Align Text Left" style="background-position: -384px 50%; "></div>
                                        <div class="cleditorButton" title="Center" style="background-position: -408px 50%; "></div>
                                        <div class="cleditorButton" title="Align Text Right" style="background-position: -432px 50%; "></div>
                                        <div class="cleditorButton" title="Justify" style="background-position: -456px 50%; "></div>
                                        <div class="cleditorDivider"></div>
                                    </div>
                                    <div class="cleditorGroup">
                                        <div class="cleditorButton cleditorDisabled" title="Undo" style="background-position: -480px 50%; " disabled="disabled"></div>
                                        <div class="cleditorButton cleditorDisabled" title="Redo" style="background-position: -504px 50%; " disabled="disabled"></div>
                                        <div class="cleditorDivider"></div>
                                    </div>
                                    <div class="cleditorGroup">
                                        <div class="cleditorButton" title="Insert Horizontal Rule" style="background-position: -528px 50%; "></div>
                                        <div class="cleditorButton" title="Insert Image" style="background-position: -552px 50%; "></div>
                                        <div class="cleditorButton" title="Insert Hyperlink" style="background-position: -576px 50%; "></div>
                                        <div class="cleditorButton cleditorDisabled" title="Remove Hyperlink" style="background-position: -600px 50%; " disabled="disabled"></div>
                                        <div class="cleditorDivider"></div>
                                    </div>
                                    <div class="cleditorGroup">
                                        <div class="cleditorButton cleditorDisabled" title="Cut" style="background-position: -624px 50%; " disabled="disabled"></div>
                                        <div class="cleditorButton cleditorDisabled" title="Copy" style="background-position: -648px 50%; " disabled="disabled"></div>
                                        <div class="cleditorButton cleditorDisabled" title="Paste" style="background-position: -672px 50%; " disabled="disabled"></div>
                                        <div class="cleditorButton" title="Paste as Text" style="background-position: -696px 50%; "></div>
                                        <div class="cleditorDivider"></div>
                                    </div>
                                    <div class="cleditorGroup">
                                        <div class="cleditorButton" title="Print" style="background-position: -720px 50%; "></div>
                                        <div class="cleditorButton" title="Show Source" style="background-position: -744px 50%; "></div>
                                        </div>
                                    </div>
                                    <textarea id="editor" name="editor" rows="" cols="" style="display: none; width: 1308px; height: 150px; "></textarea>
                                    <iframe frameborder="0" src="javascript:true;" style="width: 1308px; height: 150px; "></iframe>
                                </div>-->
                            {{ form_widget(form.description) }}
                            <div class="fix"></div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="formRow">
                        <label>Active:</label>
                        <div class="formRight">
                            {{ form_widget(form.active) }}
                        </div>
                        <div class="clear"></div>
                    </div>
                    {{ form_widget(form._token) }}
                    <div class="formSubmit">
                        <input type="submit" value="submit" class="redB">
                    </div>
                    <div class="clear"></div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}