{% extends '::base.html.twig' %}

{% block title %} Your Products {%endblock%}
{% block headline %}{{company.name}} Catalog{% endblock %}
{% block tagLine %}Products for company {{ company.name }}{%endblock%}

{% block middleNav %}
<div class="wrapper">
    <div class="controlB">
        <ul>
            <li><a href="#" title=""><img src="{{ asset('bundles/j2exchange/images/icons/control/32/plus.png') }}" alt=""><span>Add New Product</span></a></li>
        </ul>
        <div class="clear"></div>
    </div>
</div>
{% endblock%}

{% block content %}
<div class="widgets">
    <div class="oneTwo">

        <div class="widget">
            <div class="title"><img src="{{ asset('bundles/j2exchange/images/icons/dark/imagesList.png') }}" alt="" class="titleIcon"><h6>{{company.name}}'s Products</h6></div>
            <div class="body">

                <div class="list plusB">
                    <strong class="red">Products</strong>
                    <ul>
                        {% for product in products %}
                        <li>{{ product.name }}</li>
                        {% endfor %}
                    </ul>
                </div>

            </div>
        </div>

    </div>
</div>
{% endblock %}