{% extends '::base.html.twig' %}

{% block title %} Your Offers {%endblock%}
{% block headline %}{{company.name}} Offers{% endblock %}
{% block tagLine %}Offers for company {{ company.name }}{%endblock%}

{% block middleNav %}
<div class="wrapper">
    <div class="controlB">
        <ul>
            <li><a href="{{ path( '_add_offer') }}" title=""><img src="{{ asset('bundles/j2exchange/images/icons/control/32/plus.png') }}" alt=""><span>Add New Offer</span></a></li>
        </ul>
        <div class="clear"></div>
    </div>
</div>
{% endblock%}

{% block content %}
<div class="oneOne">
    <div class="widgets">
        <div class="widget">
            <div class="title">
                <img src="{{ asset('bundles/j2exchange/images/icons/dark/stats.png')}} " alt="" class="titleIcon">
                <h6>{{ company.name }} Offers</h6>
            </div>
            <table id="offersTable" cellpadding="0" cellspacing="0" width="100%" class="sTable">
                <thead>
                <tr>
                    <td>Name</td>
                    <td>Matches</td>
                    <td>List Price</td>
                    <td>Whisper Price</td>
                    <td>Remaining</td>
                    <td>Active</td>
                </tr>
                </thead>
                <tbody id="offersBody">
                {% for offer in offers %}
                    <tr>
                        <td><a href="#" class="webStatsLink">{{ offer.name | truncate(25, false, '..') }}</a></td>
                        <td align="center">{{ offer.matches | length }}</td>
                        <td align="center">{{ offer.listPrice | craue_currency }}</td>
                        <td align="center">{{ offer.whisperPrice | craue_currency }}</td>
                        <td align="center">{{ offer.available }}</td>
                        <td align="center">
                            {% if offer.active > 0 %}
                                <img src="{{ asset('bundles/j2exchange/images/icons/color/tick.png')}}" alt="enabled">
                            {% else %}
                                <img src="{{ asset('bundles/j2exchange/images/icons/color/cross.png')}}" alt="disabled">
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/j2exchange/js/offers/offersTable.js') }}"></script>
    <script type="text/javascript">
        (function ($) {

            var offers = new Backbone.Collection;

            var offersTable = new J2.OffersTable({
                collection: offers
            });

            $('#offersBody').replaceWith(offersTable.el);

            function updateOffers(data, status, xhr) {
                offers.add( data.response );
            }

            $.ajax({
                url: '/api/offers',
                dataType: 'json',
                success: updateOffers
            });

        })(jQuery);
    </script>
{%endblock%}