{% extends '::base.html.twig' %}

{% block title %} Your Offers {%endblock%}

{% block content %}
<div class="oneTwo">
    <div class="widgets">
        <div class="widget">
            <div class="title">
                <img src="{{ asset('bundles/j2exchange/images/icons/dark/stats.png')}} " alt="" class="titleIcon">
                <h6>{{ company.name }} Offers</h6>
            </div>
            <table cellpadding="0" cellspacing="0" width="100%" class="sTable">
                <thead>
                <tr>
                    <td>Remaining</td>
                    <td>Name</td>
                    <td>List Price</td>
                    <td>Whisper Price</td>
                    <td>Matches</td>
                    <td>Active</td>
                </tr>
                </thead>
                <tbody>
                {% for offer in offers %}
                    <tr>
                        <td align="center"><a href="#" class="webStatsLink">{{ offer.available }}</a></td>
                        <td><a href="#">{{ offer.name | truncate(25, false, '..') }}</a></td>
                        <td>{{ offer.listPrice | craue_currency }}</td>
                        <td>{{ offer.whisperPrice | craue_currency }}</td>
                        <td>xx</td>
                        <td>
                            {% if offer.active > 0 %}
                                <img src="{{ asset('bundles/j2exchange/images/icons/color/tick.png')}}" alt="enabled">
                            {% else %}
                                <img src="{{ asset('bundles/j2exchange/images/icons/color/cross.png')}}" alt="disabled">
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}