{% extends '::base.html.twig' %}

{% block title %} {{ offer.name | truncate(35, false, '..') }} {%endblock%}
{% block headline %} {{ offer.name | truncate(35, false, '..') }} {% endblock %}
{% block tagLine %} {{ offer.description | truncate(50, false, '...') }} {% endblock %}

{% block content %}
<div class="oneTwo">
    <div class="widgets">

        <div class="widget">
            <div class="title">
                <img src="{{ asset('bundles/j2exchange/images/icons/dark/imagesList.png')}}" alt="Matches" class="titleIcon">
                <h6>Offer Matches For {{ offer.name }}</h6>
            </div>

            <table id="offersTable" cellpadding="0" cellspacing="0" width="100%" class="sTable">
                <thead>
                    <tr>
                        <td>Product</td>
                        <td>Company</td>
                        <td>Retail Price</td>
                        <td>Remaining</td>
                        <td>Added Value</td>
                    </tr>
                </thead>

                <tbody id="offersBody">
                {% for match in offer.matches %}
                    <tr>
                        <td><a href="#" class="webStatsLink"> ??? </a></td>
                        <td align="center"> ??? </td>
                        <td align="center"> ??? </td>
                        <td align="center">{{ match.available }}</td>
                        <td align="center">{{ (match.price + offer.listPrice) | craue_currency }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>

    </div>
</div>

{% endblock %}

{% block javascripts %}

{%endblock%}